  <main class="form-signin w-100 m-auto my-5 py-3">
    <br>
    <br>
    <form [formGroup]="formGroup" (ngSubmit)="login()">
        <h1 class="h3 mb-3 fw-normal">Please Sign In To Show This Feature</h1>

        <div class="form-floating my-2">
            <input type="text" class="form-control" id="floatingInput" formControlName="token">
            <label for="floatingInput">Auth Token</label>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
    </form>
</main>